<!-- <div class="container-fluid" style="height:5vw ;">
  <div class="row">
    <div class=".col-6 .col-xl-6 .col-sm-2 .col-lg-4 col-md-6 " style="float:left ;"> 
      <span> <img src="/assets/image/logo-odisha.png" alt=""> <a href="">
         <span>Forest, Environment and Climate Change Department</span> <br>
          Government of Odisha
         
        </a> </span>
    </div>

    <div class=".col-4 .col-xl-4 .col-lg-2 .col-md-4 .col-sm-2 right" style="float:right ;">
     
                 <span > <a href=""  style="float:right ;" >
                  Shri Naveen Pattnaik <br> <span >Hon'ble Chief Minister</span> <img src="/assets/image/cmodisha.png" alt=""  style="float:right ;"> 
              </a>  </span>
          
    </div>
  </div>
</div> -->

<!-- <nav class="navbar " style="background-color:white !important ;">
 <a href="" style="text-decoration:none ; color:black; font-weight:bolder; font-size:400;" >
  <img src="/assets/image/logo-odisha.png" alt="">
  <span>Forest, Environment and Climate Change Department</span> <br>
    <span> Government of Odisha</span>
    
   </a>
  <span > <a href=""  style="float:right ;" style="text-decoration:none ; color:black; font-weight:bolder; font-size:400"  >
    Shri Naveen Pattnaik <br> <span >Hon'ble Chief Minister</span> <img src="/assets/image/cmodisha.png" alt=""  style="float:right ;"> 
</a>  </span>
</nav> -->


<nav class="navbar navbar-expand-lg navbar-light bg-light ">
  <div class="container-fluid">
    <!-- <a class="navbar-brand" href="#">Navbar</a> -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" style="color:white ; ">Home</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li> -->


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            About Us
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">About Department</a></li>
            <li><a class="dropdown-item" href="#">Organization structure</a></li>
            <li><a class="dropdown-item" href="#">Vission & Mission</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Who's Who</a>
              <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" href="#">Web Directory</a></li> -->
                <!-- <li><a class="dropdown-item" href="#">Civil list of IFS Officer</a></li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Web Directory</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
                <!-- <li><a class="dropdown-item" href="#">List of Field Officer</a></li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Disposition of forest ranger</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">OFS JB List</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
               
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">List of Field Officer</a>
              <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" href="#">Web Directory</a></li> -->
                <!-- <li><a class="dropdown-item" href="#">Civil list of IFS Officer</a></li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Divisions-Wise</a>

                  <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li> -->
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <!-- </li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">State-Wise</a>

                  <ul class="dropdown-menu">
                    <!-- <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li> -->
                    <li><a class="dropdown-item" href="#">Deposition of Forest Rangers</a></li>
                    <li><a class="dropdown-item" href="#">OFS JB List</a> </li>
                    <li><a class="dropdown-item" href="#">OFS SB List </a></li>
                    <li><a class="dropdown-item" href="#">OFDC</a></li>
                    <li><a class="dropdown-item" href="#">RCCF</a></li>
                    <li><a class="dropdown-item" href="#">DFO</a></li>
                    <li><a class="dropdown-item" href="#">Range Officer</a></li>
                    <!-- <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li> -->

                  </ul>
                </li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
                <!-- <li><a class="dropdown-item" href="#">List of Field Officer</a></li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Disposition of forest ranger</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">OFS JB List</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
               
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Gradation List</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li><a class="dropdown-item" href="#">Civil list of IFS Officer</a></li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
                <!-- <li><a class="dropdown-item" href="#">List of Field Officer</a></li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Disposition of forest ranger</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">OFS JB List</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
               
              </ul>
            </li>
            

            <!-- </li> -->

          </ul>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            Office Notifications/Orders
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <li><a class="dropdown-item" href="#">Office Orders</a></li>
            <li><a class="dropdown-item" href="#">Office Notifications</a></li> -->
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Office Orders</a>
              <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" href="#">Forest</a></li>
                <li><a class="dropdown-item" href="#">Establishment</a></li>
                <li><a class="dropdown-item" href="#">Environment</a></li>
                <li><a class="dropdown-item" href="#">Wildlife</a></li>
                <li><a class="dropdown-item" href="#">Others </a></li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Forest</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <!-- </li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Establishment</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Environment</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Wildlife</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Others</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Office Notifications</a>
              <ul class="dropdown-menu">
                <!-- <li><a class="dropdown-item" href="#">Forest</a></li>
                <li><a class="dropdown-item" href="#">Establishment</a></li>
                <li><a class="dropdown-item" href="#">Environment</a></li>
                <li><a class="dropdown-item" href="#">Wildlife</a></li>
                <li><a class="dropdown-item" href="#">Others </a></li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Forest</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <!-- </li> -->
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Establishment</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Environment</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Wildlife</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Others</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li>
              </ul>
            </li>
            <!-- </li> -->

          </ul>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            Legal Clearance
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <li><a class="dropdown-item" href="#">Land Clearance</a></li>
            <li><a class="dropdown-item" href="#">Forest Clearance</a></li>
            <li><a class="dropdown-item" href="#">Wildlife Clearance</a></li>
            <li><a class="dropdown-item" href="#">Others</a></li> -->
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Land Clearance</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
              
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Forest Clearance</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
              
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Wildlife Clearance</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
              
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Other Clearance</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
              
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <!-- </li> -->

          </ul>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            Act & Rules
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <!-- <li><a class="dropdown-item" href="#">Office Orders</a></li>
            <li><a class="dropdown-item" href="#">Office Notifications</a></li> -->
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Forest</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="https://forest.odisha.gov.in/act-rule/forest/central-act-%26-rules">Central Acts & Rules</a></li>
                <li><a class="dropdown-item" href="#">State Acts & Rules</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <!-- </li> -->
            <li><a class="dropdown-item" href="#">Wildlife</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Environment</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Environment Protection</a></li>
                <li><a class="dropdown-item" href="#">Water Pollution</a></li>
                <li><a class="dropdown-item" href="#">Air Pollution</a></li>
                <li><a class="dropdown-item" href="#">Noise Pollution</a></li>
                <li><a class="dropdown-item" href="#">Waste Management</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <li><a class="dropdown-item" href="#">Service Rules</a></li>

          </ul>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            Reports
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Eco-Tourism</a></li>
            <!-- <li><a class="dropdown-item" href="#">Office Notifications</a></li> -->
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Finance</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Establishment</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Lease</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Establishment</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                    <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Offfence</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Lease</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Offfence</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Offfence</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">DFO,Bhadrak(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Mangrove Forest Division(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Puri(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chandaka(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Chillika(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Khurdha(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,Nayagarh(WL)</a></li>
                <li><a class="dropdown-item" href="#">DFO,City Forest(WL)</a></li>
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Offfence</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li> -->
                <!-- </li> -->
                <!-- <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li> -->
              </ul>
            </li>
            <!-- </li> -->

          </ul>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white ; ">RTI</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            Gallery
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Photo Gallery</a></li>
            <li><a class="dropdown-item" href="#">Video Gallery</a></li>
            <!-- <li><a class="dropdown-item" href="#">Office Notifications</a></li> -->
            <!-- <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu 0</a></li>
                <li><a class="dropdown-item" href="#">Submenu 1</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li>
                
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li>
              </ul>
            </li> -->
            <!-- </li> -->

          </ul>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white ; ">Contact Us</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="#" style="color:white ; ">Important Links</a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Achievements</a></li>
            <li><a class="dropdown-item" href="#">Adevertisements</a></li>
            <li><a class="dropdown-item" href="#">Schemes</a></li>
            <!-- <li><a class="dropdown-item" href="#">Office Notifications</a></li> -->
            <!-- <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu 0</a></li>
                <li><a class="dropdown-item" href="#">Submenu 1</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li>
                
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li>
              </ul>
            </li> -->
            <!-- </li> -->

          </ul>

        <!-- <li class="nav-item">
          <a class="nav-link" href="#" style="color:white ; ">Important Links </a>
        </li> -->

        <!-- more button -->
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
            data-bs-toggle="dropdown" aria-expanded="false" style="color:white ; ">
            More
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item" href="#">Office Orders</a></li>
            <li><a class="dropdown-item" href="#">Office Notifications</a></li>
            <li class="dropdown-submenu">
              <a class="dropdown-item dropdown-toggle" href="#">Submenu</a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Submenu 0</a></li>
                <li><a class="dropdown-item" href="#">Submenu 1</a></li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 2</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 2.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 2.3</a></li>

                  </ul>
                </li>
              
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="#">Submenu 3</a>

                  <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Submenu 3.1</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.2</a></li>
                    <li><a class="dropdown-item" href="#">Submenu 3.3</a></li>

                  </ul>
                </li>
              </ul>
            </li>
           

          </ul> -->

          <!-- </li> -->
          <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li> -->
          <!-- </ul> -->
          <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </ul>
    </div>
  </div>
</nav>